ressources/CompetitionManager/Validators/scoring.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="scoring">
			<element name="description">
				<data type="string"/>
			</element>
			<oneOrMore>
				<element name="points">
					<data type="nonNegativeInteger"/>
				</element>
			</oneOrMore>
		</element>
	</start>
</grammar>
